#words {
    font-family: -apple-system, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    width: 100%;
    text-align: center;
    height: auto;
    font-size: 50px;
    color: #ffe169;
}

#welcome {
    margin-left: 700px;
    font-size: 50px;
    color: #ffe169;
}


form {
    margin-left: 800px;
}

#questionaire {
    margin-top: 200px;
    margin-left: 550px;
}

#description {
    margin-left: 550px;

}

.likes {
    margin-left: 550px;
}

#movies {
    margin-left: 175px;
}

#blogging {
    margin-left: 182px;
}

#reading {
    margin-left: 163px;
}

#entrepreneurship {
    margin-left: 75px;
}

#tech {
    margin-left: 176px;
}

#gaming {
    margin-left: 150px;
}

#dancing {
    margin-left: 145px;
}

#athlete {
    margin-left: 153px;
}

#music {
    margin-left: 66px;
}

#traveling {
    margin-left: 126px;
}

#firstColumn {
    font-size: larger;
}

#secondColumn {
    font-size: larger;
}

#thirdColumn {
    font-size: larger;
}

#fourthColumn {
    font-size: larger;
}

#fifthColumn {
    font-size: larger;
}

#takeMetoMyPage {
    margin-left: 900px;
}

#filmProd {
    margin-left: 130px;
}

#crypto {
    margin-left: 127px;
}

#raver {
    margin-left: 60px;
}

#science {
    margin-left: 112px;
}

#adrenaline {
    margin-left: 121px;
}


#loginCard {
    width: 100%;
    height: auto;
    margin-left: 40%;
    margin-top: 10%
}

/* 
#loginCardBody {
    width: 100%;
    height: auto;
} */

#profilePic {
    border: 5px solid black;
    margin-top: -400px;
    margin-left: 2200px;
    margin-bottom: 500px;
}

@media screen and (max-width: 900px),
screen and (max-height: 900px) {}

#statusSection {
    margin-left: 1100px;
    margin-top: -800px;
}

#statusSectionStealth {
    margin-left: 1100px;
    margin-top: -800px;
}

#espinalBody {
    /* width: 400px; */
    width: calc(100% - 280px);
    height: auto;
    min-height: 677px;
}

#statusArea {
    /* width: calc(100% - 280px);
    height: auto; */
    margin-left: 35%;
    margin-top: -28%;
}

#espinalProfilePic {
    border: 5px solid black;
    /* width: calc(100% - 20%); */
    height: auto;
    margin-left: 64%;
    margin-bottom: 0%;
    margin-top: -57%;
    margin-right: 50%;
}

#espinalStatusPost {
    width: 60%;
    height: auto;
}

#statusPost {
    /* margin-top: 0px;
    margin-left: 600px;
    margin-right: 400px */
}

#statusPostStealth {
    margin-top: 200px;
    margin-left: 600px;
    margin-right: 400px
}

#status {
    font-size: larger;
}

#statusStealth {
    font-size: larger;
}

#stealthTitle {
    color: white;
}

#stealthLikes {
    color: white;
}

#landingCard {
    /* margin-left: 13vw; */
    margin-left: auto;
    margin-right: auto;

}

body {
    width: 100%;
    height: auto;
}

#sideNav {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 3;
    color: white;
    background: #212529;
    width: 20%;
}